body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd{
    list-style:none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
body{
    /* width:10rem; */
    margin: 0 auto;
}
span{
    font-size: 0.24rem;
    /* padding:0.1rem 0; */
}
.wrap1 span{
    padding:0.1rem 0;
}
p{
    font-size: 0.22rem;
    color:#9f9d9f;
}
label{
    font-size: 0.24rem;
    color: #ff660b;
}
header{
    display: flex;
    height: 0.88rem;
    align-items: center;
    background: #fff;
    justify-content: space-between;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 15;
}
header img.header_icon{
    width:0.36rem;
    height: 0.36rem;
    margin-left:0.24rem;
}
header img.header_icon:last-child{
    margin-left:0rem;
    margin-right:0.24rem;
}
header h2{
    font-size: 0.36rem;
}
div.swiper-slide{
    width: 100%;
    margin-top: 0.88rem;
}
div img{
    transform: scale(1);
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}
div.option ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-bottom: 0.35rem;
}
div.option ul li{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}
div.option ul li img{
    width:1.11rem;
    height: 1.11rem;
}
div.option ul li span{
    font-size: 0.24rem;
    text-align: center;
}
div.ticket{
    display: flex;
    border-top:0.1rem solid #efefef;
    border-bottom:0.1rem solid #efefef;
    height: 0.76rem;
    align-items: center;
    justify-content: space-between;
}
.left_ticket,.left_model{
    display: flex;
    height: 100%;
    align-items: center;
    margin-left:0.24rem;
}
.right_ticket,.right_model{
    display: flex;
    height: 100%;
    align-items: center;
    margin-right:0.24rem;
}
div.ticket img.left_icon1{
    width: 0.94rem;
    height: 0.4rem;
    padding-right: 0.1rem;
    border-right: 1px solid #6c6f76;    
}
div.ticket img.left_icon2{
    width: 0.43rem;
    height: 0.35rem;
    padding:0 0.1rem;
}
div.ticket img.right_icon{
    width: 0.2rem;
    height: 0.32rem;
}
div.model{
    display: flex;
    height: 0.88rem;
    align-items: center;
    justify-content: space-between;
}
div.banner_two{
    width: 100%;
    text-align: center;
}
img.left_icon3,.right_icon4{
    width: 0.42rem;
    height: 0.51rem;
    padding-bottom: 0.1rem;
    padding-right: 0.1rem;
}
div.model .model_span{
    padding:0 0.1rem;
}
div.box{
    width:100%;
    height: 2.38rem;
    overflow: hidden;
}
.box .wrap{
    width:100%;
    height: 2.54rem;/* 比里层元素高16px 为了隐藏滚动条*/
    overflow-x: scroll;/* 定义超出此盒子滚动 */
    overflow-y: hidden;
}
div.display{
    width: 10.52rem;
    display: flex;
}
div.display_model1{
    /* width: 5.26rem;
    height: 2.38rem; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 0.24rem;
    border:1px solid #c8c8c8;
    box-sizing: border-box;      
}
div.display .display_img{
    width: 1.31rem;
    height: 1.7rem;
}
div.right_disply{
    display:flex;
    height: 2.2rem;
    justify-content: space-between;
    flex-flow: column;
    border-bottom: 1px solid #EFEFEF;
}
div.display_model2:last-child div.right_disply{
    border-bottom:none;
}
div.introduce{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}
div.l_left_introduce,.l_right_introduce{
    /* width:1.2rem; */
    height: 0.71rem;
    display: flex;
    flex-flow: column;
    align-content: flex-start;
}
div.hr{
    width:0.01rem;
    height: 0.61rem;
    border-right:1px solid #9f9d9f;
}
label:after{
    content:'/袋';
    color:#9f9d9f;
    font-size: 0.2rem;
}
div.banner_three{
    width: 100%;
    text-align: center;
    margin-top:0.1rem;
}
div.fruites{
    width:100%;
    height: 2.59rem;
    overflow: hidden;
    margin-bottom: 0.35rem;
}
.wrap1{
    width:100%;
    height: 2.787rem;
    overflow-x: scroll;
    overflow-y: hidden;
}
div.fruites ul{
    display: flex;
    width:9rem;
    /* margin-bottom: 0.35rem; */
    justify-content: space-between;
}
div.fruites ul li:first-child{
    margin-left: 0.24rem;
}
div.fruites ul li{
    display:flex;   
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
}
div.fruites ul li img.fruites_icon5{
    width:1.86rem;
    height: 1.75rem;
}
label.fruites_l::after{
    content:'/袋';
    color:#9f9d9f;
    font-size: 0.2rem;
}
label.meat_l::after{
    content:'/500g';
    color:#9f9d9f;
    font-size: 0.2rem;
}
div.model_single{
    height: 0.8rem;
    display: flex;
    /* margin-bottom:1.04rem; 最后一个使用 */
    align-items: center;
    border-top:0.1rem solid #EFEFEF;
    border-bottom:0.01rem solid #EFEFEF; 
}
div.model_single .left_icon6{
    width:.52rem;
    height: 0.45rem;
    margin:0 0.24rem;
}
.display1_img{
    width:2.32rem;
    height: 2.16rem;
}
.single{
    font-size: 0.26rem;
    font-weight: 700;
}
.right_icon7{
    width:0.47rem;
    height: 0.47rem;
}
div.display2{
    /* border-bottom:1px solid #EFEFEF; */
    margin-bottom:1.04rem;
}
div.display_model2{
    /* width: 5.26rem; */
    /* height: 2.38rem; */
    display: flex;
    margin-top: 0.2rem;
    justify-content: space-around;
    align-items: center;
    margin-left: 0.24rem;
    /* border:1px solid #c8c8c8; */
    box-sizing: border-box;      
}
div.price{
    display: flex;
    margin-bottom: 0.2rem;
    justify-content: space-between;
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 15;
    border-top:1px solid #EFEFEF;
    background: #fff;
    /* margin-top:1.04rem; */
}
footer ul{
    display: flex;
    justify-content: space-around;
}
footer ul li{
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
}
footer .left_icon7{
    width: 0.73rem;
    height: 0.73rem;
}
footer>ul>li>span{
    padding:0;
}
@media screen and (min-width:1000px){
    html{
        font-size: 100px;
    }
}
@media screen and (min-width:768px){
    html{
        font-size: 100px;
    }
}
@media screen and (min-width:300px)and (max-width:767px){
    html{
        font-size: 50px;
    }
}